YOLINK_UAID=
YOLINK_SECRET=
YOLINK_HOME_ID=
YOLINK_TOKEN_URL=https://api.yosmart.com/open/yolink/token
YOLINK_API_URL=https://api.yosmart.com/open/yolink/v2/api
YOLINK_MQTT_HOST=mqtt.api.yosmart.com
YOLINK_MQTT_PORT=8003
DB_HOST=216.177.141.16
DB_NAME=yolink
DB_USER=yolink_author
DB_PASSWORD=
BATTERY_ALERT_THRESHOLD=20
LOG_PATH=logs/yolink.log
